@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
    background: #edf0f1;
    padding: 80px 0 0 0;
}

body, input {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.weather {
    width: 450px;
    display: flex;
}

.weather:first-child {
    display: inline;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cityTemperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 0px 10px 0px 14px;
    word-break: break-word;
}

p:last-of-type::before {
	content: 'Średnia prognoza na 5 dni: ';
}

p:last-of-type {
	font-weight: 400;
}

.noFill {
    fill: none;
}

.removeButton {
    background: none;
    border: none;
    outline: none;
    padding: 6px 5px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 5px;
    float: right;
    display: inline-block;
    cursor: pointer;
    width: 40px;
    opacity: 0.3;
    margin-left: 15px;
}

.removeButton:hover {
	fill: #e85656;
    opacity: 1;
}
input {

	transition: all .8s ease-in-out;
    width: 75%;
    height: 35px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
    text-indent: 15px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0 10px #d9d9d9;

    box-sizing: border-box;
}

input::first-letter{
    text-transform: capitalize;
}

input:hover, input:focus {
    border: 0.2px solid #9ecaed;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.addButton {
    background-color: #3399ff;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

.addButton:hover {
    opacity: 1;
}
