@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');
@font-face {
    font-family: PlayfairDisplay; src: url(../fonts/PlayfairDisplay-Regular.otf);
}
body { width: 1920px }
.bgmain {
	display: block;
	position: relative;
    text-align: center;
    background-image: url("../img/bg.png");
	height: 1280px;
}
.nav {
	height: 117px;
	padding-top: 70px;
	margin: 0 98.5px 0 98.5px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.circle {
	border: 4px solid  #ffffff;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	float: left;
}
.links {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 2.5px;
	font-variant: small-caps;
	text-align: center;
}
.links > a {
	padding-top: 15px;
	display: inline-block;
	color:  #ffffff;
	text-decoration: none;
}
a:nth-child(1) { margin-left: 55px }
a:nth-child(2) { margin: 0 35px 0 35px }
.links > .menu {
	font-size: 24px;
	font-weight: 400;
	float: right;
	color:  #ffffff;
    margin-top: 9px;
}
.menu > img { padding-left: 35px }
.primary {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 300;
	line-height: 34px;
	width: 800px;
	position: absolute;
    top:42%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}
.primary::first-line {
	font-family: PlayfairDisplay;
	color:  #ffffff;
	font-size: 140px;
	font-weight: 400;
	font-style: normal;
    position: absolute;
    line-height: 200px;
}
.horizontally_line {
	border: 0;
	border-bottom: 1px solid #da7074;
	width: 449px;
	height: 1px;
	position: absolute;
	top:62%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}
.really {
	border: 2px solid #da7074;
	background: #da7074;
    border-radius: 30px;
	width: 163px;
	height: 46px;
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2.5px;
	position: absolute;
	top:62%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}
.vertically_line {
	border: 0;
	border-right: 1px solid #da7074;
	width: 1px;
	height: 190px;
	position: absolute;
	top:78.8%;
    left: 49.9%;
    transform: translate(-50%, -50%);
}
.vertically_line:nth-last-child(odd) {
	top:80.3%;
    left: 50.15%;
}
.play {
	border: 2px solid;
	border-radius: 50%;
	border-color:  #ffffff;
	width: 82px;
	height: 82px;
	position: absolute;
	font-size: 48px;
    top: 93.7%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.play > .pl { margin: 15px 0 0 5px }
.next {	display: -webkit-flex }   /* NEW - Chrome */
.pictures {	
	position: relative;
    text-align: center;
	display: inline-block;
}
.centered {
	font-family: Georgia;
	color: #d8d8d8;
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	width: 300px;
	line-height: 30px;
	letter-spacing: 1px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered::first-line {
	color:  #ffffff;
	font-family: Montserrat;
	font-weight: 600;
	letter-spacing: 2px;
	font-style: normal;
}
.last {
	position: relative;
	height: 404px;
	display: inline-block;
}
.follow {
	position: absolute;
	top: 117.5px;
	left: 188.75px;
}
.know_us {
	position: absolute;
	top: 117.5px;
	left: 550.75px;
}
.locations {
	position: absolute;
	top: 117.5px;
	left: 970.75px;
}
.our_mission {
	position: absolute;
	top: 117.5px;
	left: 1357.75px;
}
.footer_text {
	font-family: Georgia;
	color: rgb(85, 85, 85);
	font-size: 14px;
	font-style: italic;
	font-weight: lighter;
	width: 500px;
	line-height: 26px;
}
.footer_text::first-line {
	color:  #151515;
	font-family: Montserrat;
	font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 800;
	letter-spacing: 2px;
	font-style: normal;
}
.footer_text, div, a { text-decoration: none; color: rgb(85, 85, 85); }
.footer { background-color:  #000000; height: 96px; }
.fcontent {
	font-family: Georgia;
	color: #333333;
	font-size: 12px;
	font-style: italic;
	line-height: 24px;
  	position: relative;
  	float: left;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}